<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>

<nav th:fragment="navbar" class="menu-container">
    <div class="menu-logo">
        <img th:src="@{/assets/icons/logo-menu.svg}" alt="Logo Kofi Control">
    </div>
    <div class="menu-pages">
        <ul>
            <li class="menu-item">
                <img th:src="@{/assets/icons/coffee-bean.svg}" alt="">
                <a th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li class="menu-item">
                <img th:src="@{/assets/icons/tea-cup.svg}" alt="">
                <a th:href="@{/cardapio}">Cardápio</a>
            </li>
            <li class="menu-item">
                <img th:src="@{/assets/icons/bell.svg}" alt="">
                <a th:href="@{/atendimento}">Atendimento</a>
            </li>
            <li class="menu-item">
                <img th:src="@{/assets/icons/pot.svg}" alt="">
                <a th:href="@{/cozinha}">Cozinha</a>
            </li>
        </ul>

        <div class="sidebar-config">
            <img th:src="@{/assets/icons/config.svg}" alt="">
            <a th:href="@{/configuracoes}">Configurações</a>
        </div>
    </div>
    <div>

    </div>
</nav>

</body>
</html>