<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: common-head('Kofi Ctrl | Configurações')}"></th:block>
</head>
<body>

<aside>
    <div th:replace="~{fragments/navbar :: menu-toggle}"></div>

    <div th:replace="~{fragments/navbar :: navbar('configuracoes')}"></div>
</aside>

<main>
    <th:block th:insert="~{fragments/header:: header('config-dark', 'CONFIGURAÇÕES')}"></th:block>

    <div class="adm-container">
        <div class="profile-container">

        </div>

        <hr class="middle-divisor"/>

        <div class="new-user-container">

        </div>
    </div>
</main>
</body>
</html>