<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <th:block th:insert="~{fragments/head :: common-head('Kofi Ctrl | Configurações', 'configuracoes')}"></th:block>
    <script type="text/javascript" th:src="@{/js/usuario-form.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/alertas.js}" defer></script>
</head>
<body>

<aside>
    <div th:replace="~{fragments/navbar :: menu-toggle}"></div>

    <div th:replace="~{fragments/navbar :: navbar('configuracoes')}"></div>
</aside>

<main>
    <th:block th:insert="~{fragments/header:: header('config-dark', 'CONFIGURAÇÕES')}"></th:block>

    <div class="adm-container scrollable-container">
        <div id="msg-erro" th:if="${erro}" th:text="${erro}" class="alerta-msg"></div>
        <div id="msg-sucesso" th:if="${sucesso}" th:text="${sucesso}" class="alerta-msg"></div>

        <div class="profile-container main-scrollable-container-child">
            <h2 class="section-title">Perfil Administrador</h2>

            <div class="avatar-wrapper">
                <img class="avatar-placeholder" th:src="@{/assets/icons/logo-btn.svg}"/>
            </div>

            <form class="profile-form" th:action="@{/configuracoes/alterar-senha}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="form-group">
                    <label for="alterar-usuario">Alterar usuário</label>
                    <input type="text" id="alterar-usuario" class="form-input" placeholder=""
                           th:value="${#authentication.principal.username}">
                </div>

                <div class="form-group">
                    <label for="senha-atual">Senha atual</label>
                    <input
                            type="password"
                            id="senha-atual"
                            name="currentPassword"
                            class="form-input"
                    >
                </div>

                <div class="form-group">
                    <label for="nova-senha">Nova senha</label>
                    <input
                            type="password"
                            id="nova-senha"
                            name="newPassword"
                            class="form-input"
                    >
                </div>

                <div class="form-group">
                    <label for="confirmar-senha">Confirmar nova senha</label>
                    <input
                            type="password"
                            id="confirmar-senha"
                            name="confirmPassword"
                            class="form-input"
                    >
                </div>

                <div class="button-group">
                    <button type="reset" class="secondary-element">Limpar</button>
                    <button type="submit" class="primary-element">Salvar</button>
                </div>
            </form>
        </div>


        <div class="new-user-container main-scrollable-container-child">
            <div class="register-section">
                <h2 class="section-title" id="titulo-formulario">Cadastrar usuário</h2>

                <form class="register-form" id="form-usuarios" th:action="@{/configuracoes/novo-usuario}" method="post">
                    <input type="hidden" id="usuario-id" name="id" value="">

                    <div class="form-group">
                        <label for="novo-usuario-nome">Nome completo *</label>
                        <input type="text" id="novo-usuario-nome" class="form-input" required maxlength="100"
                               name="nome" placeholder="Ex: João Carlos">
                    </div>

                    <div class="form-group">
                        <label for="novo-usuario-email">Email *</label>
                        <input type="email" id="novo-usuario-email" class="form-input" name="email" required
                               placeholder="Ex: email-usuario@gmail.com">
                    </div>

                    <div class="form-group">
                        <label for="novo-usuario-senha">Senha *</label>
                        <input type="password" id="novo-usuario-senha" class="form-input" name="senha" required
                               minlength="6" placeholder="Ex: senha!@9482">
                    </div>

                    <div class="form-group">
                        <label for="papel">Perfil de acesso *</label>
                        <select id="papel" class="secondary-element" name="papel" required>
                            <option value="">-- Selecione --</option>
                            <option value="ADMIN">Administrador</option>
                            <option value="FUNCIONARIO">Funcionário</option>
                        </select>
                    </div>

                    <div class="form-buttons">
                        <button type="button" class="btn-cancelar hidden secondary-element" id="btn-cancelar">Cancelar
                        </button>
                        <button type="reset" class="secondary-element" id="btn-limpar">Limpar campos</button>
                        <button type="submit" class="primary-element" id="btn-salvar">Salvar</button>
                    </div>
                </form>
            </div>

            <div class="users-list-section">
                <h3 class="users-list-title">Usuários cadastrados</h3>

                <div class="users-list">
                    <div class="user-item" th:each="usuario : ${usuarios}"
                         th:unless="${#authentication.principal.username == usuario.email}"
                         th:data-id="${usuario.id}"
                         th:data-nome="${usuario.nome}"
                         th:data-email="${usuario.email}"
                         th:data-papel="${usuario.papel}"
                    >
                        <span class="user-name" th:text="${usuario.nome}"></span>
                        <button class="btn-editar" type="button" title="Editar usuário">
                            <img th:src="@{/assets/icons/pen.svg}" alt="Editar usuário">
                        </button>
                        <form th:action="@{|/configuracoes/${usuario.id}/deletar|}" method="post">
                            <button type="submit" class="primary-element" id="btn-deletar">Deletar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>