<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: common-head('Kofi Ctrl | Cozinha', 'cozinha')}"></th:block>
</head>
<body>

<aside>
    <div th:replace="~{fragments/navbar :: menu-toggle}"></div>

    <div th:replace="~{fragments/navbar :: navbar('cozinha')}"></div>
</aside>

<main>
    <th:block th:insert="~{fragments/header:: header('POT-dark', 'COZINHA')}"></th:block>

    <div class="scrollable-container">
        <div class="main-scrollable-container-child">
            <div class="orders" >
                <div class="order-card" th:each="pedido : ${pedidos}">
                    <div class="order-details">
                        <h3 th:text="${'Pedido n°' + pedido.numeroPedido}"></h3>
<!--                        <p>Pedido realizado há: Xmin</p>-->
                    </div>

                    <div class="products" th:each="item : ${pedido.itens}">
                        <div class="product">
                            <span th:text="${item.quantidade + ' x '}"></span>
                            <span th:text="${item.produto.nome}"></span>
                            <p th:text="${'Tempo estimado: ' + item.produto.tempoPreparoMin + 'min'}"></p>
                        </div>
                    </div>

                    <form th:action="@{|/atendimento/${pedido.id}/concluir|}" method="post">
                        <button >Concluir pedido!</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>
</body>
</html>