<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: common-head('Kofi Ctrl | Cozinha')}"></th:block>
</head>
<body>

<aside>
    <div th:replace="~{fragments/navbar :: menu-toggle}"></div>

    <div th:replace="~{fragments/navbar :: navbar('cozinha')}"></div>
</aside>

<main>
    <th:block th:insert="~{fragments/header:: header('POT-dark', 'COZINHA')}"></th:block>

    <div class="orders">
        <div class="order-card">
            <div class="order-detalails">
                <h3>Pedido N° X</h3>
                <p>Pedido realizado há: Xmin</p>
            </div>

            <div class="products">
                <div class="product">

                </div>

                <div class="product">

                </div>
            </div>
        </div>

        <div class="order-card">
            <div class="order-detalails">
                <h3>Pedido N° X</h3>
                <p>Pedido realizado há: Xmin</p>
            </div>

            <div class="products">
                <div class="product">

                </div>

                <div class="product">

                </div>
            </div>
        </div>

        <div class="order-card">
            <div class="order-detalails">
                <h3>Pedido N° X</h3>
                <p>Pedido realizado há: Xmin</p>
            </div>

            <div class="products">
                <div class="product">

                </div>

                <div class="product">

                </div>
            </div>
        </div>

        <div class="order-card">
            <div class="order-detalails">
                <h3>Pedido N° X</h3>
                <p>Pedido realizado há: Xmin</p>
            </div>

            <div class="products">
                <div class="product">

                </div>

                <div class="product">

                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>