@import url(main.css);
@import url(alertas.css);

.cardapio-container {
    flex-direction: column;
    gap: 1.5rem;

    .main-scrollable-container-child {
        border-radius: .5rem;
        padding: 1rem;
        background-color: var(--white);
    }

    .products-table {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        min-width: fit-content;

        thead tr {
            display: flex;
            gap: 1.5rem;
            justify-content: space-between;
            width: stretch;

            th {
                min-width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }

        tbody {
            display: flex;
            flex-direction: column;
            width: stretch;
            height: stretch;
            gap: .5rem;
            font-size: 1rem;

            tr {
                width: 100%;
                display: flex;
                gap: 1rem;
                min-height: 50px;
                justify-content: space-between;
                align-items: center;

                background-color: var(--vanilla);
                border-radius: .5rem;

                td {
                    width: stretch;
                    text-align: center;

                    img {
                        width: 1.5rem;
                    }
                }

                .actions {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                }
            }
        }
    }
}