:root {
    --hot-brown: #41210A;
    --dark-hot-brown: #3A1D08;
    --vanilla: #FFFFFF;
    --earth-brown: #8B7357;
    --dark-mountain: #6A6863;
    --mountain: #AAA396;
    --vanilla: #F1EADA;
    --tobacco: #B59E7D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', Times New Roman;
    list-style: none;
}

.body-login {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.fundo {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;

    img {
        min-height: 100%;
    }
}


.login-container {
    position: absolute;
    right: 0;
    height: 95vh;
    width: 40%;
    max-width: 90vw;
    background-color: var(--hot-brown);
    border-radius: 30px;
    margin: auto 20px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    color: var(--vanilla);
}

.logo-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.coffee-icon {
    width: 267px;
}

.coffee-boy {
display: none;
}

.brand-text {
    font-size: 1.8rem;
    font-weight: bold;
}

.welcome-section {
    text-align: center;
    margin-bottom: 40px;
}

.welcome-section h1 {
    font-size: clamp(1.6rem, 3vw, 2rem);
    margin-bottom: 10px;
    text-wrap: nowrap;
    color: var(--vanilla);
}

.welcome-section p {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.login-form {
    width: 100%;
    max-width: 450px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    margin-bottom: 8px;
    font-size: 2rem;
}

.input-group input {
    width: 100%;
    height: 50px;
    border-radius: 25px; /* Bordas arredondadas dos campos */
    border: none;
    background-color: var(--vanilla);
    padding: 0 20px;
    font-size: 1rem;
    color: var(--hot-brown);
    outline: none;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    cursor: pointer; /* Melhora a experiência do usuário */
    line-height: 1;
}

.btn-entrar {
    width: 100%;
    height: 45px;
    border-radius: 25px;
    border: none;
    background-color: var(--vanilla);
    color: var(--hot-brown);
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.btn-entrar:hover {
    filter: brightness(0.9);
}

.forgot-link {
    display: block;
    text-align: center;
    color: var(--vanilla);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.forgot-link:hover {
    text-decoration: underline;
}

@media (max-width: 992px) {

    .body-login {
        justify-content: center;
        padding: 0;
    }

    .login-container {
        position: relative;
        right: auto;
        margin: 0;
        width: 90%;
        width: 90vw;
    }

    .fundo {
        display: none;
    }

    .coffee-boy {
        display: block;
        width: 100%;
        align-items: center;
        padding-top: 20px;
    }
}