@import url(navbar.css);
@import url(login.css);

:root {
    --hot-brown: #41210A;
    --dark-hot-brown: #3A1D08;
    --white: #FFFFFF;
    --earth-brown: #8B7357;
    --dark-mountain: #6A6863;
    --mountain: #AAA396;
    --vanilla: #F1EADA;
    --tobacco: #B59E7D;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', Times New Roman;
    list-style: none;
}

@font-face {
    font-family: 'Nunito';
    src: url("/assets/fonts/Nunito/Nunito.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Nunito Sans';
    src: url("/assets/fonts/Nunito_Sans/NunitoSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: var(--vanilla);
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

main {
    width: stretch;
    padding-left: 1rem;
    color: var(--hot-brown);
}

header {
    display: flex;
    gap: .5rem;
    padding-top: .5rem;


    img {
        width: 2rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}